html {
  height: 100vh;
}

body, button{
  font-family: 'IBM Plex Mono', monospace;
}

.App {
  display: flex;
  justify-content: center;
}

.quote-box {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  width: 600px;
  min-height: 260px;
  padding: 20px 20px 20px 50px;
  background: #fafafa;
  border-radius: 5px;
  color: white;
}
 
.author{
  font-size: 24px;
  font-weight: lighter;
  margin-bottom: 2px;
}

.controls {
  align-self: flex-end;
}

.attribute{
  display: flex;
  align-items: flex-end;
}

.icon {
  padding-left: 20px;
  padding-bottom: 7px;
  font-size: 20px;
}

.quote {
padding-right: 5px;
opacity: .5;
}

.icon:hover{
  color: #1dcaff;
  font-size: 22px;
}

.text {
  font-size: 27px;
  font-weight: normal;
}

button {
  height: 50px;
  width: 120px;
  border-radius: 5px;
  font-size: 16px;
  border: 3px solid white;
  color: white;
}

button:hover {
  opacity: .6;
  border: 4px solid white;
  
}

button:focus{
  outline: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


