html {
  height: 100vh;
}

.App {
  display: flex;
  justify-content: center;
}

.c1{
  background: #F79256;
}

.c2{
  background: #1B1B3A;
}

.c3{
  background: #CC3937;
}

.c4{
  background: #068B9D;
}

.c5{
  background: #3F0D12;
}

.quote-box {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  width: 500px;
  min-height: 260px;
  padding: 20px 20px 20px 50px;
  background: #fafafa;
  border: 2px solid black;
  border-radius: 5px;
}


 
.author{
  font-size: 24px;
  font-weight: lighter;
  margin-bottom: 2px;
  color: rgba(0, 0, 0, 0);
}

.controls {
  align-self: flex-end;
}

.attribute{
  display: flex;
  align-items: flex-end;
}
.icon {
  padding-left: 20px;
  padding-bottom: 7px;
  font-size: 20px;
}


.icon:hover{
  color: #1dcaff;
  font-size: 22px;
}

.text {
  font-size: 23px;
  font-weight: normal;
}

button {
  height: 40px;
  width: 100px;
  border-radius: 5px;
  background: white;
  border: 1px solid black;
  font-size: 16px;
}

button:hover {
  background: black;
  color: white;
}

button:focus{
  outline: none;
}


